<div class = "option" id="viewers" align= center>
    <label for="time-limit">How long will the file be on the server:</label>

    <input type="time" id="time-limit" name="time-limit" min="1">

    <script>
    console.log(time-limit.value)
</script>
</div>